/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'open sans';
    background-color: rgb(250, 250, 250);
}
.detail-header{
    word-spacing: 5px;
}
